.Index {
    color: darkslateblue;
}
.Contact {
    color: darkgreen;
}
.Rainforest {
     color: green;
}
.Desert {
    color:green;
}
.Ocean {
    color: darkblue;
}
.Mountain {
    color: darkgrey;
}
.Coast {
    color: saddlebrown;
}